@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");

body {
    font-family: "Raleway";
    margin: 0;
    text-align: center;
    max-width: 400px
}

/* Typography 
=================*/
h1 {
    font-size: 55px;
    font-weight: 800;
    margin: 0;
    text-shadow: 1px 1px 1px black;
}

span {
    color: hsla(329, 83%, 50%, 0.913);
    font-size: 1.1em;
}

/* Layout 
=================*/
.container {
    margin: 0 auto;
    max-width: 27rem;
    width: 80%;
}

/* Header 
=================*/

header {
    color: white;
    left: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    margin: 0.5em -2em 0px 0px;
}

#hero-wrapper {
    background-image: url('img/magicball.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 500px;
    padding: 5em 4.8em 4em 4em;
    width: 600px;
}

#hero-intro {
    display: inline-block;
    position: relative;
    top: 1em;
}

/* Form
=================*/

form {
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
}

input {
    border-radius: 15px;
    cursor: pointer;
    line-height: 2.5em;
    padding: 0 2em;
    width: 25em;
}

/* Resonse
=================*/

#response {
    color: white;
    font-size: 1em;
    line-height: 25px;
    margin-top: 35px;
}